.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    height: 100%;
    background-color: var(--bg-color-3);
    /* light yellow */
    overflow: auto;
}

.divider {
    width: 5px;
    cursor: col-resize;
    background-color: #1b0404;
}

.mainarea {
    flex: 1;
    height: 100%;
    background-color: var(--bg-color-4);
    /* light green */
    overflow: auto;
}