.modified-row {
    background-color: var(--modified-row) !important;
    color: var(--modified-row-text) !important;
}

.selected-row {
    background-color: var(--selected-row) !important;
    color: var(--selected-row-text) !important;
}