/* MainView.module.css */
.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: var(--bg-color-4);
    padding: 1rem;
    box-sizing: border-box;
    overflow: auto;
    /* allows scroll if content grows */
}