/* NavBar.module.css */
.navBar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navBarPane {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: '1rem';
    border-bottom: 1px solid #ccc;
    background-color: var(--pane-bg, #f9f9f9);
}